<div class="comments">
  {{#each this}}
    <section class="comment card-body">
      <div class="text">
        {{comment_text}}
      </div>
      <div class="meta card-header">
        {{user.username}}
      </div>

    </section>
  {{/each}}
</div>