<div class="login-section">
  <p>Login</p>
  <section>
    <form class="login-form">

        <label for="username-login">Username</label>
        <input type="text" id="username-login" />

        <label for="password-login">Password</label>
        <input type="password" id="password-login" />

        <button type="submit">Login!</button>

    </form>
    <span id="signup-instead">Sign up instead</span>
  </section>
</div>

<div class="signup-section" style="display:none">
  <p>Sign Up</p>
  <section>
    <form class="signup-form">

        <label for="username-signup">Username</label>
        <input type="text" id="username-signup" />

        <label for="email-signup">Email</label>
        <input type="text" id="email-signup" />

        <label for="password-signup">Password</label>
        <input type="password" id="password-signup" />
        <p id="password-help">password has to be between 8 and 10 characters long</p>

        <button type="submit">Sign Up!</button>

    </form>
    <span id="login-instead">Login instead</span>
  </section>
</div>

<script src="/assets/js/login.js"></script>
