    <section id="results-page">
      <p id="results-filters"></p>
      <section id="results-container">

        <!-- example results card
        <div class="park-card">
          <div>
            <img class="park-image" src="https://via.placeholder.com/150">
          </div>
          <div>
            <h4 class="park-name">Amistad National Recreation Area</h4>
            <p class="park-states">TX</p>
            <p class="miles-away">40 miles away</p>
            <p class="saved">Saved</p>
          </div>
          <hr class="park-horizontal-row">
          <div>
            <p class="park-description">An oasis in the desert, Amistad National Recreation Area consists of the US portion of the International Amistad Reservoir. Amistad, whose name comes from the Spanish word meaning friendship, is best known for excellent water-based recreation, camping, hiking, rock art viewing, and its rich cultural history. Amistad is also home to a wide variety of plant and animal life above and below the water.</p>
            <a class="park-modal" href="">View details</a>
            <a class="park-website" href="">Website</a>
          </div>
        </div>
        -->


      </section>
    </section>