* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #557174;
  --secondary-color: #9DAD7F;
  --light-color: #c7cfb7;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

header li {
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
}

h1 {
  padding: 20px 0px 20px 40px;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:  url("https://user-images.githubusercontent.com/47605442/122488851-fa3f3f80-cfa3-11eb-8ec1-6e58bc08cc6d.jpeg");

  /* Set a specific height */
  height: 250px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

